
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--body-color);
}

header {
    min-height: 8vh;
    margin-bottom: 1vh;

    background-color: var(--main-color);
}

main {
    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;

    min-height: 75vh;

    background-color: var(--main-color);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section {
    background-color: var(--section-color);
}