.home {
  /*grid-area: hamburger;*/
  position: fixed;
  z-index: 10;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.666);
  background-color: antiquewhite;
  top: 6vh;
  left: 1vw;
  padding: 3px;
  border-radius: 10px;
  border: black 1px solid;  
}

.title {
  grid-area: title;
  text-align: center;
  background-color: cyan;
  border: black 2px solid;
  border-radius: 20px;
}

.story {
  grid-area: story;
  border: black 2px solid;
  border-radius: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  background-image: url(../Img/mantelStory\(2\).jpg);
  background-position-x: ;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: rgb(253, 246, 227);
}

.bars {
  grid-area: bars;
  border: black 2px solid;
  border-radius: 20px;
  padding: 4px 8px;
  margin: 0px 7vw;
}

.skills {
  grid-area: skills;
  border: black 2px solid;
  border-radius: 20px;
  padding: 4px 8px;
  margin: 0px 7vw;
}

.dados {
  position: fixed;
  z-index: 10;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.666);
  top: 93vh;
  left: 50vw;
}

.grid-container {
  display: grid;
  gap: 2%;

  grid-template:
    "title title" 15vh
    "story story" 60vh
    "bars bars" 8vh
    "skills skills" 15vh/
    2vw auto;
}
