.home {
  /*grid-area: hamburger;*/
  position: fixed;
  z-index: 10;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.666);
  background-color: antiquewhite;
  top: 6vh;
  left: 1vw;
  padding: 3px;
  border-radius: 10px;
  border: black 1px solid;
}

.title {
  grid-area: title;
  text-align: center;
  background-color: cyan;
  border: black 2px solid;
  border-radius: 20px;
}

.story {
  grid-area: story;
  border: black 2px solid;
  border-radius: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  background-image: url(../Img/mantelStory\(2\).jpg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: rgb(253, 246, 227);
}

.bars {
  grid-area: bars;
  border: black 2px solid;
  border-radius: 20px;
  padding: 4px 8px;
  margin: 0px 7vw;
}

.skills {
  border: black 2px solid;
  border-radius: 20px;
  text-align: center;
  flex: 4;
}
.rombo {
  border: 4px solid black;
  transform: rotate(45deg);
  margin: auto;
}
.maximus{
  width: 100px;
  height: 100px;
  scale: 50%;
  margin-right: 1vw;
}
.minus {
  width: 50px;
  height: 50px;
  scale: 50%;
  margin-left: 2vw;
}
.character {
  flex: 1;
  display: flex;
  justify-content: center;
}
.item {
  flex: 1;
}

.utilities {
  grid-area: utilities;
  display: flex;
  flex-direction: row;
}

.grid-container {
  display: grid;
  gap: 2%;
  grid-template:
    " title title " 15vh
    " story story " 60vh
    " bars bars " 8vh
    " utilities utilities " auto/
    15vw auto;
}

/* Centralizacion del Dado */
.footer {
  position: fixed;
  bottom: 10px;
  display: inline;
  width: 100%;
  text-align: center;
}
.footer img {
  max-width: 80px;
  filter: drop-shadow(6px 6px 20px black);
}
.footer img:active {
  scale: 90%;
}
