.titulo {
    background-color: aqua;
    border: black 2px solid;
    text-align: center;
    border-radius: 20px;
}

.menu {
    background-color: burlywood;
    border: black 2px solid;
    text-align: center;
    margin-top: 2vh;
    border-radius: 20px;
}