.tablas{
    columns: 3;
    gap: 20px;
    overflow-x: hidden;
}

.bloque{
    border-radius: 25px;
    padding: 10px;
    min-width: 20vw;
    max-width: 80vw;
    box-sizing: content-box;
    overflow: auto;
    margin-bottom: 20px;
}

.deplegable{}

.enlace{}

.titulo{
    font-size: 35px;
    font-weight: bold;
}

ul{}
li{}
a{}
p{
}
details{}
summary{}

body{
    background-image: url("https://images6.alphacoders.com/632/632065.jpg");
    background-size: cover;
    font-size: 30px;
}

.glassmorfismo{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.45);
}